{% extends "base.html.twig" %}

{% block body %}
    <div>
        <h3>Catalogue : </h3>
            {% for bd in bds %}
                    <div class="flex-container">
                        <div class="divcover">
                            <a href="{{ path('ouvrage_show', { 'id': bd.ouvrage.id }) }}"><img src="{{ bd.cover }}" height="220" width="160"  class="coverbd" >
                        </div>
                        <div class="detail">
                            <h3>{{ bd.ouvrage.titre }}</a></h3>
                            <span class="add">Ajouté le {{ bd.date|date('d/m/Y') }}</span>
                            <p>Auteur : {{ bd.auteur }}</p>
                            <p>Genre : {{ bd.genre }}</p><br>
                            <p class="btnReserver"><a href="{{ path('ouvrage_ajoutreservations', { 'id': bd.ouvrage.id }) }}">Réserver</a></p>
                        </div>
                    </div>

            {% endfor %}

    </div>
        {% for livre in livres %}
                    <div class="flex-container">
                        <div class="divcover">
                            <a href="{{ path('ouvrage_show', { 'id': livre.ouvrage.id }) }}"><img src="{{ livre.cover }}" height="220" width="160"  class="coverlivre" >
                        </div>
                        <div class="detail">
                            <h3>{{ livre.ouvrage.titre }}</a></h3>
                            <span class="add">Ajouté le {{ livre.date|date('d/m/Y') }}</span>
                            <p>Auteur : {{ livre.auteur }}</p>
                            <p>Genre : {{ livre.genre }}</p><br>
                            <p class="btnReserver"><a href="{{ path('ouvrage_ajoutreservations', { 'id': livre.ouvrage.id }) }}">Réserver</a></p>
                        </div>
                    </div>
        {% endfor %}
        {% for cd in cds %}
                    <div class="flex-container">
                        <div class="divcover">
                            <a href="{{ path('ouvrage_show', { 'id': cd.ouvrage.id }) }}"><img src="{{ cd.cover }}" height="160" width="160"  class="covercd" >
                        </div>
                        <div class="detail">
                            <h3>{{ cd.ouvrage.titre }}</a></h3>
                            <span class="add">Ajouté le {{ cd.date|date('d/m/Y') }}</span>
                            <p>Artiste : {{ cd.artist }}</p>
                            <p>Genre : {{ cd.genre }}</p><br>
                            <p class="btnReserver"><a href="{{ path('ouvrage_ajoutreservations', { 'id': cd.ouvrage.id }) }}">Réserver</a></p>
                        </div>
                    </div>
        {% endfor %}
{% endblock %}