{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="css/style.css">
{% endblock %}

{% block body %}
    <div id="header">
        <nav id="menu">
            <ul class="ma_ul">
                <li><a href="#">Cadre de vie</a></li>
                <li><a href="#">Vie municipale</a></li>
                <li><a href="#">Vie locale et sociale</a></li>
                <li><a href="#">Vie associative et culturelle</a></li>
                <li><a href="#">Liens</a></li>
                <li><a href="#">Economie</a></li>
            </ul>
        </nav>
        <nav id="login">
            <ul class="ma_ul">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out"></span> Se déconnecter</a></li>
                    {% else %}
                    <li><a href="register"></span> S'inscrire</a></li>
                    <li><a href="#"><span></span> Se connecter<span></span>
                        </a>
                        <div>
                            <form class="form-inline text-right" action="{{ path("fos_user_security_check") }}" method="post">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <label for="username"><input type="text" class="form-control" id="username" name="_username" placeholder="Utilisateur" required="required" size='10'></label>
                                <label for="password"><input type="password" class="form-control" id="password" name="_password" placeholder="Mot de passe" required="required" size='10'></label>
                                <label for="remember_me"><input type="checkbox" id="remember_me" name="_remember_me" value="on" hidden></label>
                                <button type="submit" id="_submit" name="_submit"><span></span>Ok</button>
                            </form>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>

    <div id="content">
        <div id="main">
            <h4>Les dernières BDs ajoutés : </h4>
            <span><a href="{{ path('mpc_platform_homepage') }}">Tous | </a></span><span>BDs</span><span> | <a href="{{ path('filter_livre') }}">Livres</a></span><span> | <a href="{{ path('filter_cd') }}">CDs</a></span>
            {% for ouvrage_select in ouvrages_select %}
                <ul>
                    <li><i>{{ ouvrage_select.ouvrage.titre }}</i> {% if ouvrage_select.ouvrage.date %} <span class="add">ajouté le {{ ouvrage_select.ouvrage.date|date('d/m/Y') }}{% endif %}</span> - <a href="{{ path('ouvrage_show', { 'id': ouvrage_select.ouvrage.id }) }}">Voir</a></li>
                </ul>
            {% endfor %}
        </div>
        <div id="aside">
            <ol>
                <li><a href="#"></a></li>
                <li><a href="#">Vie municipale</a></li>
            </ol>
        </div>

    </div>
{% endblock %}