{% extends "base.html.twig" %}

{% block body %}

    <div id="content">
        <div id="main">
            <h4>Les derniers ouvrages ajoutés : </h4>
            <span>Tous | <span><a href="{{ path('filter_bd') }}">BDs</a></span><span> | <a href="{{ path('filter_livre') }}">Livres</a></span><span> | <a href="{{ path('filter_cd') }}">CDs</a></span>
                {% for ouvrage in ouvrages %}
                    <ul>
                        <li><i>{{ ouvrage.titre }}</i> {% if ouvrage.date %} <span class="add">ajouté le {{ ouvrage.date|date('d/m/Y') }}{% endif %}</span> - <a href="{{ path('ouvrage_show', { 'id': ouvrage.id }) }}">Voir</a></li>
                    </ul>
                {% endfor %}
        </div>
        <div id="aside">
            <ul>
                {% if is_granted("ROLE_ADMIN") %}
                    <li>Voir les réservations</li>
                    {% else %}
                    {% endif %}
                <li><a href="#">Vie municipale</a></li>
            </ul>
        </div>
    </div>

{% endblock %}