<html>
    <head>
        <title>Mediathèque de pleyber-Christ</title>
        <style>

            /* Styles généraux */
            body {
                font-family:Sans-serif;
                font-size:100%;
                background:#fff;
                margin:0;
            }
            a {
                color:#369;
            }
            p.mention {
                margin: 1em;
                color:#666;
                clear:both;
                padding-top:2em;
            }

            h2 {
                background:#B2D33A;
                color:#fff;
                margin:0;
                padding:4px;
            }
            #menu ul, #menu li {
                list-style-type:none;
                margin:0;
                padding:0;
            }
            #menu li {
                float:left;
                width:20%;
                text-align:right;
                font-size: 12px;
            }
            #menu a {
                display:block;
                background:#444;
                color:#fff;
                border-bottom:1px;
                text-decoration:none;
                line-height:200%;
                padding:0 1em;
            }
            #menu a:hover {
                background:#222;
            }

            /* Disposition par défaut */
            #main, #aside {
                float:left;
                background:#EDEEEF;
                min-height:300px;
                overflow:auto;
                width:100%;
                clear:both;
            }
            #aside {
                background:#EDEEEF;
            }
            #menu {
                width:100%;
                overflow:auto;
            }

            #header {
                padding:30px;
                background-color:red;
                width: 80%;
                margin: 0 auto; 

            }

            /* min-width pour moyennes résolutions */
            @media screen and (min-width: 1024px) {
                #main {
                    width:70%;
                    clear:none;
                }
                #aside {
                    width:30%;
                    clear:none;
                }
            }

            /* max-width pour faibles résolutions */
            @media screen and (max-width: 640px) {
                #menu a {
                    display:block;
                }
                #menu li {
                    float:none;
                    width:100%;
                }
                #main, #aside, #menu {
                    clear:both;
                    width:100%;
                }
            }

        </style>
    </head>
    <body>
        <div id="header">
            <nav id="menu">
                <ul>
                    <li><a href="#">Cadre de vie</a></li>
                    <li><a href="#">Vie municipale</a></li>
                    <li><a href="#">Vie locale et sociale</a></li>
                    <li><a href="#">Vie associative et culturelle</a></li>
                    <li><a href="#">Liens</a></li>
                    <li><a href="#">Economie</a></li>
                </ul>
            </nav>
        </div>
        <div id="main">
            {#		<h2>Zone principale</h2>#}
            <h4>Les derniers ouvrages ajoutés : </h4>
        {% for ouvrage in ouvrages %}
            <ul>
                <li><a href="{{ path('ouvrage_show', { 'id': ouvrage.id }) }}">{{ ouvrage.titre }}</a> ({{ ouvrage.annee }}) {% if ouvrage.date %} Ajouté le {{ ouvrage.date|date('d/m/Y') }}{% endif %} - <a href="{{ path('ouvrage_show', { 'id': ouvrage.id }) }}">Voir</a></li>
            </ul>
        {% endfor %}
        </div>
        <div id="aside">
            {#		<h2>Zone annexe</h2>#}
            <p>...</p>
        </div>

        <p class="mention"></p>



    </body>
</html>

