{% extends "base.html.twig" %}

{% block body %}
<h4>Les derniers ouvrages ajoutés : </h4>
            <span>Tous | <span><a href="{{ path('filter_bd') }}">BDs</a></span><span> | <a href="{{ path('filter_livre') }}">Livres</a></span><span> | <a href="{{ path('filter_cd') }}">CDs</a></span>
                {% for ouvrage in ouvrages %}
                    <ul>
                        <li><i>{{ ouvrage.titre }}</i> {% if ouvrage.date %} <span class="add">ajouté le {{ ouvrage.date|date('d/m/Y') }}{% endif %}</span> - <a href="{{ path('ouvrage_show', { 'id': ouvrage.id }) }}">Voir</a></li>
                    </ul>
                {% endfor %}
{% endblock %}