{% extends "base.html.twig" %}

{% block body %}
    <h3>Les derniers ouvrages ajoutés : </h3>
    <h4>Les BDs :</h4>
    <ul>
        {% for bd in bds %}
            <li class="listeindex">
                <div class="listecontent">
                    <a href="{{ path('ouvrage_show', { 'id': bd.id }) }}">
                    <div>
                        <img src="{{ bd.cover }}" height="220" width="160">
                    </div>
                    <div>
                        {{ bd.ouvrage.titre }}
                    </div>  
                    <span class="add">ajouté le {{ bd.date|date('d/m/Y') }}</span>
                    </a>
                </div>
            </li> 
        {% endfor %}
    </ul>
    <h4>Les livres :</h4>
    <ul class="listeindex">
        {% for livre in livres %}
            <li class="listeindex">
                <div class="listecontent">
                    <a href="{{ path('ouvrage_show', { 'id': livre.id }) }}">
                <div>
                    <img src="{{ livre.cover }}" height="250" width="160">
                </div>
                <div>
                    {{ livre.auteur }}
                    <div>
                        {{ livre.ouvrage.titre }}
                    </div> 
                </div>  
                <span class="add">ajouté le {{ livre.date|date('d/m/Y') }}</span>
                    </a>
                </div>
            </li>
        {% endfor %}
    </ul>
    <h4>Les CDs :</h4>
    <ul class="listeindex">
        {% for cd in cds %}
            <li class="listeindex">
                <div class="listecontent">
                    <a href="{{ path('ouvrage_show', { 'id': cd.id }) }}">
                <img src="{{ cd.cover }}" height="140" width="160">
                <div>
                    {{ cd.artist }}
                    <div>
                        {{ cd.ouvrage.titre }}
                    </div>
                </div>  
                <span class="add">ajouté le {{ cd.date|date('d/m/Y') }}</span>
                    </a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}