{% extends "base.html.twig" %}

{% block body %}
    <h3>Les derniers ouvrages ajoutés : </h3>
        
    <h4>Les BDs :</h4>
    <ul>
        {% for bd in bds %}
            <li class="listeindex">
                <div class="listecontent">
                    <a href="{{ path('ouvrage_show', { 'id': bd.ouvrage.id }) }}">
                    <div>
                        <img src="{{ bd.cover }}" height="220" width="160"  class="coverbd" >
                    </div>
                    <div>
                        <span class="coverbd">{{ bd.ouvrage.titre }}</span>
                    </div>
                    <span class="add">ajouté le {{ bd.date|date('d/m/Y') }}</span>
                    </a>
                </div>
            </li>
        {% endfor %}
    </ul>
    <h4>Les livres :</h4>
    <ul class="listeindex">
        {% for livre in livres %}
            <li class="listeindex">
                <div class="listecontent">
                    <a href="{{ path('ouvrage_show', { 'id': livre.ouvrage.id }) }}">
                <div>
                    <img src="{{ livre.cover }}" height="250" width="160"  class="coverlivre" >
                </div>
                <div>
                     <span class="coverbd">{{ livre.auteur }}</span>
                    <div>
                        <span class="coverbd">{{ livre.ouvrage.titre }}</span>
                    </div>
                </div>
                <span class="add">ajouté le {{ livre.date|date('d/m/Y') }}</span>
                    </a>
                </div>
            </li>
        {% endfor %}
    </ul>
    <h4>Les CDs :</h4>
    <ul class="listeindex">
        {% for cd in cds %}
            <li class="listeindex">
                <div class="listecontent">
                    <a href="{{ path('ouvrage_show', { 'id': cd.ouvrage.id }) }}">
                <img src="{{ cd.cover }}" height="160" width="160"  class="covercd" >
                <div>
                     <span class="coverbd">{{ cd.artist }}</span>
                    <div>
                        <span class="coverbd">{{ cd.ouvrage.titre }}</span>
                    </div>
                </div>
                <span class="add">ajouté le {{ cd.date|date('d/m/Y') }}</span>
                    </a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}