{% extends "base.html.twig" %}

{% block body %}
    <h4>Liste de tous les emprunts : </h4>

    <div>
    {% for emprunt in emprunts %}
        <i>{{ emprunt.ouvrage.titre }}</i> par <b>{{ emprunt.utilisateur.username }}</b> <br>
        à été réservé le {{ emprunt.dateEmprunt|date('d/m/Y') }} - Retour avant le {{ emprunt.dateRetour|date('d/m/Y') }}<br>
        <a href="{{ path('del_emprunt', { 'id': emprunt.id }) }}">Ouvrage restitué</a>
        <br>
    {% endfor %}
    </div>
    
{% endblock %}