{% extends "base.html.twig" %}
{% block stylesheet %}
{% endblock %}

{% block title %}{{ parent()}} - Show{% endblock %}

{% block body %}
    <h1>{{ ouvrage.titre }}</h1>

    <table>
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ ouvrage.titre }}</td>
            </tr>
            <tr>
                <th>Annee</th>
                <td>{{ ouvrage.annee }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ ouvrage.id }}</td>
            </tr>
        </tbody>
    </table>
<li>{{ ouvrage.date|date('d/m/Y')}}</li>
    <ul>
        <li>
            <a href="/">Retour</a>
        </li>
        <li>
        </li>
        {% if is_granted("ROLE_ADMIN") %}
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Effacer">
            {{ form_end(delete_form) }}
            <a href="{{ path('ouvrage_edit', { 'id': ouvrage.id }) }}">Edit</a>
        </li>
        {% else %}
        {% endif %}
        <a href="{{ path('ouvrage_ajoutreservations', { 'id': ouvrage.id }) }}">Réserver</a>
    </ul>
{% endblock %}
