{% extends "base.html.twig" %}
{% block stylesheet %}
{% endblock %}

{% block title %}{{ parent()}} - Show{% endblock %}

{% block body %}
    <h1>{{ ouvrage.titre }}</h1>

    <table>
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ ouvrage.titre }}</td>
            </tr>
            <tr>
                <th>Annee de sortie</th>
                <td>{{ ouvrage.annee }}</td>
            </tr>
        </tbody>
    </table>
    <ul>
        <li>
        <p><a href="{{ path('ouvrage_ajoutreservations', { 'id': ouvrage.id }) }}">Réserver</a></p>
        </li>
        <li>
            <a href="/">Retour</a>
        </li>
        {% if is_granted("ROLE_ADMIN") %}
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Effacer" class="delshow">
            {{ form_end(delete_form) }}
        </li>
        {% else %}
        {% endif %}
    </ul>
{% endblock %}
